h1 {text-align: center; color: lightgoldenrodyellow}

p {text-align: center; color: lightgoldenrodyellow}

body {background-color: rgb(37, 53, 123);}

h2 {text-align: center; color: lightgoldenrodyellow}

#quilt {width: 700px; display: block;
      margin-left: auto;
      margin-right: auto;
    margin-top: 50px;}


h3 {text-align: center; color: lightgoldenrodyellow}

#one {text-align: center; color: lightgoldenrodyellow}

#printone {width: 500px; margin-left: 200px;}

#printonetwo {width: 500px; margin-left: 100px;}

#printtwo {width: 700px; display: block;
      margin-left: auto;
      margin-right: auto;
    margin-top: 50px;}

#two {text-align: center; color:lightgoldenrodyellow}

    #printfour {width: 500px; margin-left: 200px;}

    #printfive {width: 500px; margin-left: 100px;}

    #printsix {width: 700px; display: block;
      margin-left: auto;
      margin-right: auto;
    margin-top: 50px;}

#three {text-align: center; color: lightgoldenrodyellow}

   #harlem {width: 700px; display: block;
      margin-left: auto;
      margin-right: auto;
    margin-top: 50px;}